node_modules
.next
.git
.gitignore

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile*
docker-compose*.yml
docker-compose*.yaml

*.md
.vscode
.agents
.codex
.kilo

tsconfig.tsbuildinfo
